{
	"data_dir": "/data",
	"ui_dir": "/ui",
	"client_addr": "0.0.0.0",
	"ports": {
		"dns": 53
	},
	"recursor": "{{with .recursor}}{{.}}{{else}}8.8.8.8{{end}}",
	"disable_update_check": true{{/*
    */}}{{with .hostname}},
	"domain":"{{.}}"{{/*
    */}}{{end}}
}

