registrator:
  image: cgcgbcbc/registrator:0.1.0{{/*
  */}}{{with .hostname}}
  hostname: {{.}}{{/*
  */}}{{end}}
  volumes:
  - /var/run/docker.sock:/tmp/docker.sock
  command: -internal consul://{{.consul}}:8500
  restart: always

